@import "tailwindcss";
@import "tw-animate-css";

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}


 details summary::-webkit-details-marker {
  display: none;
}

details[open] .chevron-mobile {
  transform: rotate(180deg);
}

@keyframes glowingPulse {
  0% {
    transform: scale(1);
    box-shadow:
      0 0 0 0 rgba(196, 106, 82, 0.45),
      0 0 8px 2px rgba(196, 106, 82, 0.25);
  }

  50% {
    transform: scale(1.15);
    box-shadow:
      0 0 12px 6px rgba(196, 106, 82, 0.35),
      0 0 25px 10px rgba(196, 106, 82, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow:
      0 0 0 0 rgba(196, 106, 82, 0.45),
      0 0 8px 2px rgba(196, 106, 82, 0.25);
  }
}

@keyframes glowingPulseGreen {
  0% {
    transform: scale(1);
    box-shadow:
      0 0 0 0 rgba(37, 211, 102, 0.45),
      0 0 8px 2px rgba(37, 211, 102, 0.25);
  }

  50% {
    transform: scale(1.15);
    box-shadow:
      0 0 12px 6px rgba(37, 211, 102, 0.35),
      0 0 25px 10px rgba(37, 211, 102, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow:
      0 0 0 0 rgba(37, 211, 102, 0.45),
      0 0 8px 2px rgba(37, 211, 102, 0.25);
  }
}
/* انيميشن للصفحة الأساسية */
@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-slide-once {
  opacity: 0;
  animation: fadeSlideUp 0.9s ease-out forwards;
}

/* ⭐ انيميشن المنتج – يدخل من اليمين */
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(60px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-from-right {
  opacity: 0;
  animation: slideInRight 0.9s ease-out forwards;
}

